{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
<ul>
    <li>
        <a href="{{ url('recipe.show', { slug: 'pates-bolognaises', id: 32 }) }}">Pates Bolognaises</a>
    </li>
</ul>
{% endblock %}