{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
<ul>
    {% for recipe in recipes %}
    <li>
        <a href="{{ url('recipe.show', { slug: recipe.getSlug(), id: recipe.getId() }) }}">{{ recipe.getTitle() }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}