{% extends 'admin/admin.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
<h1>Add a new Category</h1>
{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
    </div>
{{ form_end(form) }}
{% endblock %}